name: Gestao de Vagas Application

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build project
        run: mvn clean package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: target/gestao-vagas-0.0.1-SNAPSHOT.jar

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          export DATABASE_URL=${{ secrets.DATABASE_URL }}
          export DATABASE_USERNAME=${{ secrets.DATABASE_USERNAME }}
          export DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
          export SPRING_PROFILES_ACTIVE=prod

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app
          path: ~/app

      - name: Stop existing application
        run: pkill -f 'gestao-vagas-0.0.1-SNAPSHOT.jar' || true

      - name: Run application
        run: |
          nohup java \
            -Dlogging.level.com.zaxxer.hikari=DEBUG \
            -jar ~/app/gestao-vagas-0.0.1-SNAPSHOT.jar \
            > ~/app/app.log 2>&1 &
